body {
    background-image: url(img/pool_table_@2X.png);
    font-family: Helvetica, sans-serif;
}

.form1, .form2 {
    background-color: rgb(147, 202, 152);
    width: 400px;
    padding: 50px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    -webkit-box-shadow: 17px 17px 21px -5px rgb(18, 20, 22);
    -moz-box-shadow: 17px 17px 21px -5px rgb(45, 50, 53);
    box-shadow: 17px 17px 21px -5px rgb(30, 31, 32);
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
}

input[type=text],
input[type=password] {
    background-color: #efefef;
    color: #666;
    border : 2px solid rgb(20, 148, 42);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgb(41, 83, 6);
    -moz-box-shadow: 0px 0px 10px 2px rgb(14, 129, 29);
    box-shadow: 0px 0px 10px 2px rgb(14, 85, 35);
    color: #428c42;
}

input[type=submit] {
    width: 300px;
    background-color: rgb(24, 173, 57);
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgb(41, 83, 6);
    -moz-box-shadow: 0px 0px 10px 2px rgb(14, 129, 29);
    box-shadow: 0px 0px 10px 2px rgb(14, 85, 35);
}

input[type=submit]:hover {
    background-color: rgb(27, 196, 63);
}