body {
    background-image: url(img/pool_table_@2X.png);
    /* Background pattern from Toptal Subtle Patterns */
    font-family: Helvetica, sans-serif;
}

.form1, .form2, .form3 {
    background-color: rgb(147, 202, 152, 0.6);
    width: 400px;
    padding: 50px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-radius: 8px;
    -webkit-box-shadow: 17px 17px 21px -5px rgb(18, 20, 22);
    -moz-box-shadow: 17px 17px 21px -5px rgb(45, 50, 53);
    box-shadow: 17px 17px 21px -5px rgb(30, 31, 32);
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    background-color: rgb(147, 202, 152, 0.6);
    width: 400px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 8px;
    -webkit-box-shadow: 17px 17px 21px -5px rgb(18, 20, 22);
    -moz-box-shadow: 17px 17px 21px -5px rgb(45, 50, 53);
    box-shadow: 17px 17px 21px -5px rgb(30, 31, 32);
}

h3 > a:link {
    text-align: center;
    text-decoration: none;
    color: rgb(15, 54, 15);
}

h3 > a:visited {
    text-align: center;
    text-decoration: none;
    color: rgb(7, 31, 7);
}

h3 > a:hover {
    color: #0a6905;
}

form {
    text-align: center;
}

input[type=text],
input[type=password] {
    background-color:rgba(247, 247, 247, 0.8);
    color: #666;
    border : 2px solid rgb(20, 148, 42);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgb(41, 83, 6);
    -moz-box-shadow: 0px 0px 10px 2px rgb(14, 129, 29);
    box-shadow: 0px 0px 10px 2px rgb(14, 85, 35);
    color: #428c42;
}

input[type=submit], button {
   
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    height: 60px;
    width: 200px;
    background: #0bdf00;
    border: 2px solid rgba(33, 68, 72, 0.59);  
    color: rgba(20, 18, 18, 0.8);
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background: -webkit-linear-gradient(top, #0bdf00, #11610d);
    background: -moz-linear-gradient(top, #0bdf00, #11610d);
    background: -o-linear-gradient(top, #0bdf00, #11610d);
    background: -ms-linear-gradient(top, #0bdf00, #11610d);
    background: linear-gradient(top, #0bdf00, #11610d);
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 8px 0 #063c03;
    -moz-box-shadow: 0 8px 0 #063c03;
    box-shadow: 0 8px 0 #063c03;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

button > a {
    text-decoration: none;
    color: rgba(20, 18, 18, 0.8);
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
    
input[type=submit]:hover, button:hover {
    background: #11610d;
    background: -webkit-linear-gradient(top, #11610d, #0bdf00);
    background: -moz-linear-gradient(top, #11610d, #0bdf00);
    background: -o-linear-gradient(top, #11610d, #0bdf00);
    background: -ms-linear-gradient(top, #11610d, #0bdf00);
    background: linear-gradient(top, #11610d, #0bdf00);
}
