<h1>Ma ToDo List</h1>

<div class = "form1">
    <h2>Inscrivez-vous</h2>
        <form action="index.php?route=insert_user" method="POST">

            <label for="name"><input type="text" placeholder="Nom" name="nom"/></label>
            <label for="name2"><input type="text" placeholder="Prénom" name="prenom"/></label>
            <label for="email"><input type="text" placeholder="E-mail" name="email"/></label>
            <label for="pseudo"><input type="text" placeholder="Pseudo" name="pseudo"/></label>
            <label for="password1"><input type="password" placeholder="Mot de passe" name="password1"></label>
            <label for="password2"><input type="password" placeholder="Répétez le mot de passe" name="password2"/></label>

            <input type="submit" value="Créer un compte"/>
            <h3><a href="index.php">Retour</a><h3>

        </form>
    </div>

    <div class = "form2">
        <h2>Connectez-vous</h2>
        
            <form action="index.php?route=connect_user" method="POST">
                
                <label for="pseudo"><input type="text" placeholder="Pseudo" name="pseudo"/></label>
                <label for="password"><input type="password" placeholder="Mot de passe" name="password"/></label>
                <input type="submit" value="Connectez-vous"/>
                <h3><a href="index.php">Creer un compte</a><h3>
    
            </form>
    </div>
